@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --b2: 97.63% 0.0029 84.56;
  --b3: 93.25% 0.0052 67.76;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1 {
  font-family: "Cormorant Garamond", system-ui;
  font-weight: 400;
  font-size: 1.86rem;
}

.flex-4 {
  flex: 4;
}

.link {
  @apply underline-offset-2;
}

/* Navbar */
.card.card-compact {
  grid-auto-flow: row;
}

.card-compact .card-body {
  padding: 1rem 0;
}

.menu li > div.card:active {
  background-color: #fff;
}

/* _index.tsx */
.checkbox-primary {
  --chkfg: #000;
  border-radius: 50%;
}

.placeholder-italic::placeholder {
  font-style: italic;
}

.btn-neutral:hover {
  background-color: #2a2a2a;
  border-color: #2a2a2a;
}
